<main class="buscar">

  <!-- BARRA DE BUSCA -->
  <div class="top-actions">

    <div class="search-box">
      <input
        type="text"
        placeholder="Buscar por ID, idioma ou nome"
        [ngModel]="busca"
        (ngModelChange)="onBuscar($event)"
      />
       <svg class="lupa-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        <circle cx="11" cy="11" r="8"></circle>
      </svg>
    </div>

    <div class="actions">
      <div class="ordenar-wrapper">
        <button class="ordenar" (click)="mostrarOrdenacao = !mostrarOrdenacao">
          Ordenação
        </button>

        <div class="ordenacao-menu" *ngIf="mostrarOrdenacao">
          <div (click)="alterarCriterio('avaliacao')">
            Avaliação
            <span *ngIf="criterio === 'avaliacao'">
              {{ direcao === 'asc' ? '⬆' : '⬇' }}
            </span>
          </div>

          <div (click)="alterarCriterio('data')">
            Data
            <span *ngIf="criterio === 'data'">
              {{ direcao === 'asc' ? '⬆' : '⬇' }}
            </span>
          </div>
        </div>
      </div>

      <button class="novo" (click)="irParaCadastro()">Novo idioma</button>
    </div>

  </div>

  <h2>RESULTADOS</h2>

  <!-- LISTA -->
  <div class="lista">

    <div class="item" *ngFor="let idioma of paginados">

      <!-- COLUNA DA BANDEIRA -->
      <div class="flag">
        <img [src]="idioma.bandeira" alt="Bandeira">
        <span class="idioma-nome">{{ idioma.idioma | uppercase }}</span>
      </div>

      <!-- INFORMAÇÕES -->
      <div class="info">
        <p><strong>ID:</strong> {{ idioma.id }}</p>
        <p><strong>Nome:</strong> {{ idioma.nome | uppercase }}</p>
        <p><strong>Módulos:</strong> {{ idioma.modulos }}/20</p>

        <div class="avaliacao">
          <strong>Avaliação:</strong>
          <svg *ngFor="let ativa of estrelas(idioma.avaliacao)"
               viewBox="0 0 24 24"
               [class.active]="ativa">
            <path d="M12 17.3l6.18 3.7-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
          </svg>
        </div>
      </div>

    </div>

  </div>

  <!-- PAGINAÇÃO -->
  <div class="paginacao">
    <button (click)="paginaAnterior()" [disabled]="paginaAtual === 1">‹</button>
    <span>{{ paginaAtual }}</span>
    <button (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas()">›</button>
  </div>

</main>
