<header class="topbar">
  <div class="icon left"></div>

  <div class="logo">
    <img routerLink="/home" src="../../../assets/imgs/logo-removebg.png" alt="Logo">
  </div>

  <div class="user-area">
    <p class="user-name">Olá, Lucas!</p>
    <button class="user-btn" (click)="toggleMenu()">
      <!-- User icon -->
      <svg viewBox="0 0 24 24">
        <circle cx="12" cy="7" r="4"/>
        <path d="M5.5 21a6.5 6.5 0 0 1 13 0"/>
      </svg>
    </button>

    <div class="dropdown" *ngIf="menuAberto">
      <button routerLink="/perfil">Configurações</button>
      <button routerLink="/login">Logout</button>
    </div>
  </div>
</header>
